
<header>
  
    <!--BARRA DE ARRIBA -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand" href="#"></a>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" [routerLink]="['/Inicio']">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Nacionales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Internacionales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Culturales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Espectáculo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Salud</a>
                </li>
              </ul>
              <div class="margenHead">
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
              </div>
            </div>
            </nav>
          </div>
        </div>
      </div>

<!--BARRA DE REGISTRO E INICIO SESION-->
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="margenArriba" >
          <nav class="navbar navbar-expand" style="background-color: #f0f4f5;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
            
                <a class="nav-link" href="#">Registrate</a>
                <a class="nav-link" href="#">Iniciar sesión</a>
           
              </div>
            </div>
    
          </nav>
        </div>
      </div>
    </div> 
  </div> 

</header>
<!--EMPIEZA EL BODY-->
<body>
  <!--TITULO 1-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div style="width: 1340px;">
              <h5 class="bg-warning">Noticias ALVC</h5>
            </div>
          </div>
        </div>
      </div>
     <!--SUBTITULO-->   
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
             <div class="mx-auto" style=" width: 400px;" >
                <h3> Registrate!</h3>
              </div>
          </div>
        </div>
      </div>
      
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="p">
                <form >
                  <div class="form-group w-50">
                    <label for="exampleFormControlInput1">Correo Electrónico</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@example.com">
                  </div>
                </form>
                <form >
                  <div class="form-group w-50">
                    <label for="exampleFormControlInput1">Nombre y Apellido</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ejemplo: Nombre Apellido">
                  </div>
                </form>
                <form >
                  <div class="form-group w-50">
                    <label for="exampleFormControlInput1">Nombre de Usuario</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ejemplo: Usuario_555">
                  </div>
                </form>
                <form >
                  <div class="form-group w-50">
                    <label for="exampleFormControlInput1">Contraseña</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Debe tener una letra mayúscula y un carácter no alfanumérico">
                  </div>
                </form>
              </div>
            </div>   
          </div> 
        </div>    

        
          
      <div class="container-fluid ">
        <div class="row "> <!-- esto crea una fila--> 
          <div class="col-md-2 margenHermoso" >
            <button type="button" class="btn btn-success">Enviar</button>
          </div> 
          <div class="col-md-2" >
            <button type="button" class="btn btn-danger">Borrar</button>
          </div>

        </div>
               
         
      </div>
          
               
</body>
