
<header>
  
    <!--BARRA DE ARRIBA -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand" href="#"></a>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" [routerLink]="['/Inicio']">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Nacionales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Internacionales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/Culturales']">Culturales <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/Espectaculo']">Espectáculo <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Salud</a>
                </li>
              </ul>
              <div class="margenHead">
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
              </div>
            </div>
            </nav>
          </div>
        </div>
      </div>

<!--BARRA DE REGISTRO E INICIO SESION-->
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="margenArriba" >
          <nav class="navbar navbar-expand" style="background-color: #f0f4f5;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
            
                <a class="nav-link" [routerLink]="['/Registrate']">Registrate</a>
                <a class="nav-link" href="#">Iniciar sesión</a>
           
              </div>
            </div>
    
          </nav>
        </div>
      </div>
    </div> 
  </div> 

</header>
<!--EMPIEZA EL BODY-->
  <!--TITULO 1-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div style="width: 1340px;">
          <h5 class="bg-warning">Noticias ALVC</h5>
        </div>
      </div>
    </div>
  </div>
<body>
  <!--SUBTITULO-->   
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
         <div class="mx-auto" style=" width: 400px;" >
            <h3> Ultimas Noticias</h3>
          </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style= "width: 18rem ;" style="margin-top: 40px;" >
          
          <img src="assets/img/sirenita.jpg" class="card-img-top" alt="..." class="tamanoImagen" >
          <div class="card-body">
            
            <h5 class="card-title">Disney anuncia a la actriz que interpretará a Ariel en nueva versión de "La Sirenita"</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Ver más</a>
            <img src="assets/img/ojo.jpg" class="tamanoImagenOjo" >

          </div>
       
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style= "width: 18rem ;" style="margin-top: 40px;" >
          
          <img src="assets/img/manalich.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Exministro Mañalich por fallecidos durante la pandemia: "No me siento responsable"</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Ver más</a>
            <img src="assets/img/ojo.jpg" class="tamanoImagenOjo" >

          </div>
          
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style= "width: 18rem ;" style="margin-top: 40px;" >
          
          <img src="assets/img/trumppppp.jpg" class="card-img-top" alt="..." class="tamanoImagen2">
          <div class="card-body">
            <h5 class="card-title">Trump anuncia que aprobó un acuerdo para la compra de TikTok</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Ver más</a>
            <div class="row" class="col-md-6">
             
            <img src="assets/img/ojo.jpg" class="tamanoImagenOjo" >
            <div class="alert alert-light" role="alert" class="tamanoVisualizaciones" >
              1
            
          </div>
          </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
  
          
               
</body>
